/*---------- Helper Start ----------*/
/* Shapes */
@media screen and (max-width: 375px) {
  .hide-xsmall {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hide-small {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .hide-medium-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hide-medium-up {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .hide-large-up {
    display: none !important;
  }
}
/*---------- Helper End ----------*/
/*============================================================================
  Fonts & Icons vars
==============================================================================*/
/*============================================================================
  Fonts & Icons helper mixins
==============================================================================*/
/*============================================================================
  Global Fonts
==============================================================================*/
/* Body & Utility/CTA */
/* Body & Utility/Small CTA */
/* Body & Utility/Custom */
/*============================================================================
  Navigation
==============================================================================*/
/*============================================================================
  CTA and CTA Links
==============================================================================*/
/*============================================================================
  TAGS
==============================================================================*/
/*============================================================================
  Icons
==============================================================================*/
@font-face {
  font-family: "onerockwell";
  src: url("../fonts/onerockwell.woff") format("woff"), url("../fonts/onerockwell.ttf") format("truetype"), url("../fonts/onerockwell.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: onerockwell !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e918";
}

.icon-bag:before {
  content: "\e919";
}

.icon-dropdown:before {
  content: "\e91a";
}

.icon-arrow-right:before {
  content: "\e91b";
}

.icon-alert-circle:before {
  content: "\e91c";
}

.icon-arrow-down:before {
  content: "\e91d";
}

.icon-arrow-left:before {
  content: "\e91e";
}

.icon-arrow-right2:before {
  content: "\e91b";
}

.icon-arrow-up:before {
  content: "\e920";
}

.icon-check:before {
  content: "\e921";
}

.icon-chevron-down:before {
  content: "\e922";
}

.icon-chevron-left:before {
  content: "\e923";
}

.icon-chevron-right:before {
  content: "\e924";
}

.icon-chevron-up:before {
  content: "\e925";
}

.icon-grid:before {
  content: "\e926";
}

.icon-heart:before {
  content: "\e927";
}

.icon-mail:before {
  content: "\e928";
}

.icon-onerockwell2:before {
  content: "\e929";
}

.icon-maximize-2:before {
  content: "\e92a";
}

.icon-minimize-2:before {
  content: "\e92b";
}

.icon-onerockwell:before {
  content: "\e92c";
}

.icon-circle:before {
  content: "\e92d";
}

.icon-move:before {
  content: "\e930";
}

.icon-pause:before {
  content: "\e931";
}

.icon-play:before {
  content: "\e932";
}

.icon-refresh-cw:before {
  content: "\e934";
}

.icon-search2:before {
  content: "\e939";
}

.icon-close:before {
  content: "\e937";
}

.icon-navigation:before {
  content: "\e938";
}

.icon-search:before {
  content: "\e939";
}

.icon-checkbox_empty:before {
  content: "\e93a";
}

.icon-checkbox_filled:before {
  content: "\e93b";
}

.icon-amazon:before {
  content: "\ea87";
}

.icon-google:before {
  content: "\ea88";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-vimeo:before {
  content: "\eaa0";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-android:before {
  content: "\eac0";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-pinterest:before {
  content: "\ead1";
}

.icon-paypal:before {
  content: "\ead8";
}

.icon-safari:before {
  content: "\eadd";
}

.icon-facebook-f-brands:before {
  content: "\e92e";
}

.icon-instagram-brands:before {
  content: "\e92f";
}

.icon-map-marker-alt-solid:before {
  content: "\e933";
}

.icon-pinterest-brands:before {
  content: "\e936";
}

.icon-search-solid:before {
  content: "\e939";
}

.icon-shopping-bag-solid:before {
  content: "\e919";
}

.icon-twitter-brands:before {
  content: "\e93e";
}

/*============================================================================
  Site Basic Fonts
==============================================================================*/
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLt";
  src: url("../fonts/HelveticaNeueLt.woff") format("woff"), url("../fonts/HelveticaNeueLt.ttf") format("truetype"), url("../fonts/HelveticaNeueLt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueMd";
  src: url("../fonts/HelveticaNeueMd.woff") format("woff"), url("../fonts/HelveticaNeueMd.ttf") format("truetype"), url("../fonts/HelveticaNeueMd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueBd";
  src: url("../fonts/HelveticaNeueBd.woff") format("woff"), url("../fonts/HelveticaNeueBd.ttf") format("truetype"), url("../fonts/HelveticaNeueBd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.base-font-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title-font-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 44px;
  font-size: 36px;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 1025px) {
  .title-font-1 {
    letter-spacing: 2.8px;
    font-size: 56px;
    line-height: 64px;
  }
}

.title-font-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.6px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .title-font-2 {
    letter-spacing: 2.1px;
    font-size: 42px;
    line-height: 48px;
  }
}

.title-font-2-light {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.6px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .title-font-2-light {
    letter-spacing: 2.1px;
    font-size: 42px;
    line-height: 48px;
  }
}

.title-font-3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.2px;
}
@media screen and (min-width: 1025px) {
  .title-font-3 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.8px;
  }
}

.title-font-3-light {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-weight: 300;
}
@media screen and (min-width: 1025px) {
  .title-font-3-light {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.8px;
  }
}

.title-font-4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .title-font-4 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.6px;
  }
}

.title-font-4-light {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (min-width: 1025px) {
  .title-font-4-light {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.6px;
  }
}

.title-font-5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .title-font-5 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.2px;
  }
}

.title-font-5-light {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (min-width: 1025px) {
  .title-font-5-light {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.2px;
  }
}

.title-font-6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-font-6-light {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

.body-font-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.body-font-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.body-font-2-emphasis {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.body-font-3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueLt", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.body-font-3-emphasis {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body-font-4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.body-font-5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;
}

.body-font-6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.body-font-7 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueBd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.body-font-8 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueBd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.body-utility-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;
}
@media screen and (min-width: 1025px) {
  .body-utility-1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
  }
}

.body-utility-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
@media screen and (min-width: 1025px) {
  .body-utility-2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
}

/*============================================================================
  Navigation
==============================================================================*/
/*============================================================================
  CTA and CTA Links
==============================================================================*/
.cta-font-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.cta-font-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2px;
}
@media screen and (min-width: 1025px) {
  .cta-font-2 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}

.cta-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 41px;
  border: 1px solid;
  outline: 1px solid transparent;
  background: transparent;
  padding: 3px 16px 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  transition: background 0.45s, color 0.45s, border 0.45s;
  -moz-transition: background 0.45s, color 0.45s, border 0.45s; /*  Firefox */
  -webkit-transition: background 0.45s, color 0.45s, border 0.45s; /*  Safari and Chrome */
  -ms-transition: background 0.45s, color 0.45s, border 0.45s; /*  ie */
  -o-transition: background 0.45s, color 0.45s, border 0.45s; /*  Opera */
  color: #333432;
  background: #ffffff;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 1025px) {
  .cta-1 {
    width: auto;
    height: 41px;
  }
}
.cta-1:not(.disabled):active {
  background: transparent !important;
  outline-offset: -2px;
}
.cta-1.disabled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
@media screen and (min-width: 1025px) {
  .cta-1:not(.disabled):hover, .cta-1:not(.disabled):focus {
    color: #ffffff;
    background: #333432;
    border-color: #333432;
  }
}
.cta-1:not(.disabled):active {
  color: #ffffff;
}

.cta-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 41px;
  border: 1px solid;
  outline: 1px solid transparent;
  background: transparent;
  padding: 3px 16px 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  transition: background 0.45s, color 0.45s, border 0.45s;
  -moz-transition: background 0.45s, color 0.45s, border 0.45s; /*  Firefox */
  -webkit-transition: background 0.45s, color 0.45s, border 0.45s; /*  Safari and Chrome */
  -ms-transition: background 0.45s, color 0.45s, border 0.45s; /*  ie */
  -o-transition: background 0.45s, color 0.45s, border 0.45s; /*  Opera */
  color: #191A19;
  background: #ffffff;
  border: 1px solid #191A19;
}
@media screen and (min-width: 1025px) {
  .cta-2 {
    width: auto;
    height: 41px;
  }
}
.cta-2:not(.disabled):active {
  background: transparent !important;
  outline-offset: -2px;
}
.cta-2.disabled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
@media screen and (min-width: 1025px) {
  .cta-2:not(.disabled):hover, .cta-2:not(.disabled):focus {
    color: #ffffff;
    background: #191A19;
    border-color: #191A19;
  }
}
.cta-2:not(.disabled):active {
  color: #ffffff;
}

.cta-3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 41px;
  border: 1px solid;
  outline: 1px solid transparent;
  background: transparent;
  padding: 3px 16px 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  transition: background 0.45s, color 0.45s, border 0.45s;
  -moz-transition: background 0.45s, color 0.45s, border 0.45s; /*  Firefox */
  -webkit-transition: background 0.45s, color 0.45s, border 0.45s; /*  Safari and Chrome */
  -ms-transition: background 0.45s, color 0.45s, border 0.45s; /*  ie */
  -o-transition: background 0.45s, color 0.45s, border 0.45s; /*  Opera */
  color: #000000;
  background: transparent;
  border: 1px solid #000000;
}
@media screen and (min-width: 1025px) {
  .cta-3 {
    width: auto;
    height: 41px;
  }
}
.cta-3:not(.disabled):active {
  background: transparent !important;
  outline-offset: -2px;
}
.cta-3.disabled {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
@media screen and (min-width: 1025px) {
  .cta-3:not(.disabled):hover, .cta-3:not(.disabled):focus {
    color: #ffffff;
    background: #000000;
    border-color: #ffffff;
  }
}
.cta-3:not(.disabled):active {
  color: #ffffff;
}

.cta-link-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  text-transform: uppercase;
  color: #000000;
}
.cta-link-1 > span {
  position: relative;
  padding-bottom: 6px;
  display: inline-block;
}
.cta-link-1 > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.15s ease-in-out 0s;
  transition: transform 0.15s ease-in-out 0s;
}
.cta-link-1 > span:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cta-link-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeueMd", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  text-transform: uppercase;
  color: #ffffff;
}
.cta-link-2 > span {
  position: relative;
  padding-bottom: 6px;
  display: inline-block;
}
.cta-link-2 > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  transform: translate3d(0, 0, 0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.15s ease-in-out 0s;
  transition: transform 0.15s ease-in-out 0s;
}
.cta-link-2 > span:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cta-link-3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: normal;
  font-family: "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
}

body .additional-checkout-button {
  width: 100% !important;
  margin-bottom: 12px;
  height: 41px !important;
}
body .additional-checkout-button iframe {
  height: 41px !important;
}
@media screen and (min-width: 1025px) {
  body .additional-checkout-button {
    height: 41px !important;
  }
  body .additional-checkout-button iframe {
    height: 41px !important;
  }
}

.multisection-module-1 .subheadline, .multisection-module-3 .subheadline, .multisection-module-6 .subheadline {
  text-transform: uppercase;
}

.multisection-module-1 .block-container {
  display: flex;
  flex-direction: column;
}
.multisection-module-1 .subheadline {
  padding-bottom: 16px;
}
.multisection-module-1 .headline {
  padding-bottom: 16px;
}
.multisection-module-1 .description {
  max-width: 500px;
  padding-bottom: 16px;
}
.multisection-module-1 .cta-wrap {
  max-width: 200px;
}
.multisection-module-1 ul {
  padding: 0 40px;
}
.multisection-module-1 li {
  list-style: disc;
}
.multisection-module-1 sup {
  line-height: 120%;
  margin: 20px 0 0 0px;
}
.multisection-module-1.style-1 .content-block {
  padding: 30px 20px;
}
.multisection-module-1.style-2 {
  padding: 20px;
}
.multisection-module-1.style-2 .content-block {
  padding: 30px 0 0;
}

.multisection-module-2 .block-container {
  display: flex;
  flex-direction: column;
}
.multisection-module-2 .headline {
  padding-bottom: 10px;
}
.multisection-module-2 .image-subheadline {
  font-weight: 500;
  padding-bottom: 2px;
}
.multisection-module-2 .image-headline {
  padding-bottom: 26px;
}
.multisection-module-2 .slider .slick-slide {
  padding: 10px;
}
.multisection-module-2 .slider .slick-arrow {
  height: 100%;
}

.multisection-module-3 {
  display: flex;
  flex-direction: column;
}
.multisection-module-3 .block {
  border: 1px solid #333432;
  margin: 10px;
}
.multisection-module-3 .block .text-block {
  padding: 20px;
}
.multisection-module-3 .block .text-block .subheadline {
  padding-bottom: 6px;
}
.multisection-module-3 .block .text-block .headline {
  padding-bottom: 10px;
}
.multisection-module-3 .block .text-block .description {
  padding-bottom: 6px;
}
.multisection-module-3 .block .text-block .cta-wrap {
  max-width: 200px;
}
.multisection-module-3 .block .video-content-wrapper {
  height: 300px;
  position: relative;
}

.multisection-module-4 {
  padding-bottom: 30px;
}
.multisection-module-4 .header-content {
  padding: 10px 20px 0;
}
.multisection-module-4 .block-container {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}
.multisection-module-4 .block-container .block {
  padding: 10px;
}
.multisection-module-4 .block-container .content {
  padding-top: 20px;
}
.multisection-module-4 ul {
  display: inline-block;
}
.multisection-module-4 ul li {
  list-style: disc !important;
}

.multisection-module-5 {
  margin: 20px;
  position: relative;
  min-height: 400px;
}
.multisection-module-5 .theme-dark {
  color: #ffffff;
}
.multisection-module-5 .theme-light {
  color: #000000;
}
.multisection-module-5 .block-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.multisection-module-5 .content-block {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 100%;
}

.multisection-module-6 .block-container {
  display: flex;
  flex-direction: row;
}
.multisection-module-6 .accordion-block .subheadline {
  padding-bottom: 6px;
}
.multisection-module-6 .accordion-block .headline {
  padding-bottom: 6px;
}
.multisection-module-6 .accordion-block .description {
  padding-bottom: 20px;
}
.multisection-module-6 .system.active .system-title {
  color: #A80A14;
}
.multisection-module-6 .system.active .system-title:after {
  transform: rotate(180deg);
}
.multisection-module-6 .system-title {
  display: flex;
  color: #7F827D;
  padding: 20px 0;
}
.multisection-module-6 .system-title:after {
  font-family: onerockwell !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  content: "\e922";
  font-size: 16px;
  text-indent: 0;
  text-indent: 0;
}
.multisection-module-6 .system-title .number {
  border: 1px solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 30px;
}
.multisection-module-6 .system-title .title {
  padding-top: 4px;
}
.multisection-module-6 .system-content .content-inner {
  display: flex;
  flex-direction: row;
}
.multisection-module-6 .system-content .content-inner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.multisection-module-7 {
  position: relative;
}
.multisection-module-7 .block-container {
  display: flex;
}
.multisection-module-7 .headline {
  padding-bottom: 6px;
}
.multisection-module-7 .description {
  padding-bottom: 20px;
}
.multisection-module-7 .content-block {
  width: 100%;
  position: relative;
}
.multisection-module-7 .content-block .cta-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;
  height: 40px;
  padding: 0 20px;
  text-decoration: none;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  text-indent: 0 !important;
  z-index: 100;
}
.multisection-module-7 .content-block .cta-wrap {
  overflow: hidden;
}
.multisection-module-7 .content-block .cta-wrap .icon-fallback-text {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.multisection-module-7 .content-block .cta-wrap:after {
  display: block;
  font-family: onerockwell !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  content: "\e91b";
  font-size: inherit;
  text-indent: 0;
}
.multisection-module-7 .content-block .cta-wrap .cta-link-1 span {
  padding-bottom: 0 !important;
}
.multisection-module-7 .product-block {
  display: flex;
  flex-direction: column;
}
.multisection-module-7 .product-block .collection-products {
  flex-wrap: nowrap;
}
.multisection-module-7 .product-block .item {
  width: 100%;
  padding: 20px;
}

.multisection-module-8 .block-container {
  display: flex;
  flex-direction: column-reverse;
}
.multisection-module-8 .block-container .content-block {
  padding: 30px 20px;
}
.multisection-module-8 .block-container .content-block .headline {
  padding-bottom: 16px;
}
.multisection-module-8 .block-container .content-block .description {
  padding-bottom: 16px;
}
.multisection-module-8 .block-container .content-block .cta-wrap {
  max-width: 200px;
}

.multisection-module-9 {
  padding: 20px;
}
.multisection-module-9 ul {
  padding: 0 40px;
}
.multisection-module-9 li {
  list-style: disc;
}

#ingredient-glossary .hp-module-d {
  padding: 0 0 40px !important;
}
#ingredient-glossary .hp-module-d .logos-slider {
  height: auto !important;
}

@media screen and (max-width: 1024px) {
  .multisection-module-2 .slider-block .text-content {
    padding: 0 20px 20px;
  }
  .multisection-module-2 .image-block {
    padding: 0 20px 60px;
  }
  .multisection-module-2 .slider .slick-next {
    right: 30px !important;
    width: 50px !important;
  }
  .multisection-module-2 .slider .slick-prev {
    left: 30px !important;
    width: 50px !important;
  }
  .multisection-module-4 {
    padding-top: 20px;
  }
  .multisection-module-4 .headline {
    font-size: 24px;
  }
  .multisection-module-4 .description {
    font-size: 16px;
    padding: 0 20px;
  }
  .multisection-module-4 .block-container {
    overflow: scroll;
  }
  .multisection-module-4 .block-container .block {
    width: 100%;
    min-width: 90%;
    max-width: 90%;
  }
  .multisection-module-4 .four-block {
    overflow: auto;
    flex-wrap: wrap;
  }
  .multisection-module-4 .four-block .block {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
  }
  .multisection-module-6 {
    padding: 0 20px;
  }
  .multisection-module-6 .accordion-image {
    max-width: 100px;
    max-height: 100px;
  }
  .multisection-module-7 .header-block {
    text-align: center;
    padding: 20px 20px 0;
  }
  .multisection-module-7 .block-container {
    flex-direction: column;
  }
  .multisection-module-7 .content-block {
    height: 400px;
  }
  .multisection-module-7 .collection-products {
    flex-direction: column;
    width: 100% !important;
  }
}
@media screen and (min-width: 1025px) {
  .multisection-module-1 {
    padding: 100px 0;
  }
  .multisection-module-1.flipped .block-container {
    flex-direction: row-reverse;
  }
  .multisection-module-1 .block-container {
    flex-direction: row;
  }
  .multisection-module-1 .block-container .image-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multisection-module-1 .block-container .content-block {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multisection-module-1.style-2 {
    padding: 90px;
  }
  .multisection-module-1.style-2 .image-block {
    padding-bottom: 0;
  }
  .multisection-module-2 {
    padding-bottom: 100px;
  }
  .multisection-module-2.flipped .block-container {
    flex-direction: row-reverse;
  }
  .multisection-module-2.flipped .image-block {
    padding-left: 90px;
  }
  .multisection-module-2 .block-container {
    flex-direction: row;
    max-width: 100%;
  }
  .multisection-module-2 .block-container .slider-block {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 90px;
  }
  .multisection-module-2 .block-container .slider .slick-next {
    right: -40px !important;
  }
  .multisection-module-2 .block-container .slider .slick-prev {
    left: -40px !important;
  }
  .multisection-module-2 .block-container .image-block {
    max-width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .multisection-module-2 .block-container .image-block .main-image {
    max-width: 450px;
  }
  .multisection-module-2 .block-container .image-block .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 90px;
  }
  .multisection-module-3 {
    flex-direction: row;
    padding: 90px;
  }
  .multisection-module-3 .block {
    width: 50%;
  }
  .multisection-module-3 .block .video-content-wrapper {
    height: 500px;
  }
  .multisection-module-4 .five-block {
    padding: 0 0 60px 90px !important;
    overflow: scroll;
  }
  .multisection-module-4 .five-block .block {
    min-width: 25%;
    max-width: 25%;
    padding: 10px 0 10px 10px;
  }
  .multisection-module-4 .five-block .block:last-child {
    margin-right: 90px;
  }
  .multisection-module-4 .four-block .block {
    max-width: 25%;
  }
  .multisection-module-4 .three-block .block {
    padding: 10px 5px 10px 5px;
  }
  .multisection-module-4 .three-block .block:first-child {
    padding: 10px 10px 10px 0px;
  }
  .multisection-module-4 .three-block .block:last-child {
    padding: 10px 0px 10px 10px;
  }
  .multisection-module-4 .header-content {
    width: 100%;
    padding: 40px 80px 0;
  }
  .multisection-module-4 .header-content.text-left {
    text-align: left !important;
  }
  .multisection-module-4 .header-content.text-right {
    text-align: right !important;
  }
  .multisection-module-4 .block-container {
    padding: 40px 80px 60px;
  }
  .multisection-module-4 .block .content {
    text-align: center;
  }
  .multisection-module-4 .block {
    width: 100%;
    max-width: 33.3333%;
  }
  .multisection-module-5 {
    margin: 30px 90px;
    min-height: 800px;
  }
  .multisection-module-5 .content-block {
    bottom: 50px;
  }
  .multisection-module-6 {
    padding: 90px 0;
  }
  .multisection-module-6.flipped .block-container {
    flex-direction: row-reverse;
  }
  .multisection-module-6 .accordion-block {
    width: 50%;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multisection-module-6 .image-block {
    width: 50%;
    padding: 0 90px;
  }
  .multisection-module-7 {
    padding: 60px 0;
  }
  .multisection-module-7.flipped .block-container {
    flex-direction: row-reverse;
  }
  .multisection-module-7 .block-container, .multisection-module-7 .header-block {
    padding: 0 90px;
  }
  .multisection-module-7 .content-block {
    min-width: 50%;
  }
  .multisection-module-7 .product-block {
    flex-direction: row;
  }
  .multisection-module-7 .product-block .collection-products {
    justify-content: space-evenly;
  }
  .multisection-module-8.flipped .block-container {
    flex-direction: row-reverse;
  }
  .multisection-module-8 .block-container {
    flex-direction: row;
  }
  .multisection-module-8 .block-container .image-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multisection-module-8 .block-container .content-block {
    width: 50%;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .multisection-module-9 {
    padding: 20px 90px;
  }
  #ingredient-glossary .multisection-module-3 {
    padding: 10px 90px 0 !important;
  }
}

/*# sourceMappingURL=multisection.css.map */
